/* reset */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: darkslategray;
}


ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}


/* main */


#mainContent{
    background-image: radial-gradient(#b6a794, #a6744f, #575350);
    width: 90%;
    height: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: repeat (6, 1fr);
}


/* profile card */

#profileCard{
    border: 2px solid black;
    background-color: white;
    width: 350px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}


#proPic{
    width: 50px;
    height: 50px;
    margin: 10px auto;
    grid-column: 2/3;
    grid-row: 1/2;
}

#profileHeading{
    font-size: 1.5rem;
    margin: 0;
    grid-column: 2/3;
    grid-row: 2/3;
}

#profileCard h4{
    font-size: .5rem;
    margin: 0;
    grid-column: 2/3;
    grid-row: 3/4;

}

#ProfileFooter{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #383431;
    grid-column: 1/4;
}


.PfElements{
    padding: 15px;
}


/* movie */

#movie{
    grid-column: 2/5;
    grid-row: 1/4;
}

/* legion card */

#legionCard{
    background-color: white;
    width: 350px;
	text-align: center;
    padding: 15px;
    grid-row: 2/7;
}

#logoImg{
    height: 50px;
    width: 50px;
}

/* sub logo */

#subLogo{
    display: flex;
    align-items: center;
    justify-content: space-around;
	padding: 0 40px;
}

#subLogo h4{
    font-size: 8pt;
}

#subl_1{
    height: 60px;
    width: 5px;
    transform: rotate(270deg);
}
#subl_2{
    height: 60px;
    width: 5px;
    transform: rotate(90deg);
}

/* stats */

#stats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statbar{
    width: 90%;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    margin: 10px 0 0 0;
    font-size: 8pt;
    color: white;
}

#orangeStat{
    background-color: orangered;
}

#LgStat{
    background-color: lightgray;
}

#greyStat{
    background-color: gray;
}

/* stat footer */


#statFooter{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.sfCircle{
    border-radius: 100px;
    width: 50px;
    height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#c1{
    border: 3px solid lightgray;
}

#c1 h3{
    color: lightgray;
	
}

#c2{
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    border-bottom: 3px solid gray;
    border-right: 3px solid white;
}

#c2 h3{
    color: gray;
}

#c3{
	border: 3px solid orangered;
	color: orangered;
}
#satteext {
	font-size: 7pt;
}

#map {
	background-image: url("images/map.png");
	background-size: cover;
	height: 200px;
	background-position: center center;
	background-repeat: no-repeat;
	
}

#geoCard {
	background-color: white;
    width: 400px;
    height: 450px;
    grid-row: 2/8;
    grid-column: 2/5;
}


#orangeBox {
	height: 10px;
	background-color: orangered;
	width: 20%;
}

#lightGreyBox {
	height: 10px;
	background-color: lightgray;
	width: 45%;
}

#greybox {
	height: 10px;
	background-color: gray;
	width: 75%;
}

#geoLower {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.geoTextItem{
    margin: 25px 0;
}

#pepole{
    margin: 28px 0;
}


#pepole ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 0 0;
}


#lowerGrafic{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#lowerGrafic span{
    font-size: 4pt;
}

.sep{
    background-color: grey;
    height: 2.5px;
    width: 50px;
}

#warGrafics{
    padding: 25px 0 0 0;
}

.fa-male{
    font-size: 10pt;
}
#geoLower{
    padding: 0 10px;
}

#alphaCard{
    width: 400px;
    height: 500px;
    font-size: 1.5rem;
    position: relative;
    background-image: url(images/egal2.png);
    background-size: cover;
    background-position: center center;
    grid-column: 6/8;
    /* border: 2px solid black; */
}
#overlay{
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    width: 100%;
}

#overlay h1{
    color: white;
}

#overlay h1 span{
    color: #bf9e75;
}

#alphaLogo{
    text-align: center;
}


#alphaLogo img{
    height: 100px;
    width: 10px;
}
#as1{
    transform: rotate(45deg);
}
#as2{
    transform: rotate(-45deg);
}

#promo{
    background-color: white;
    width: 350px;
    height: 200px;
    text-align: center;
    padding: 25px;
    grid-row: 5/7;
    grid-column: 7/9;
}

#promo h2, #promo h4{
    margin: 0 0 10px 0;
}

.fa-check-circle{
    font-size: 35px;
    color: orangered;
}
#promo h4{
    color: lightgray;
}
.byst{
    color: lightslategray;
}